@page
@model AbbyWeb.Pages.Categories.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Categories list</h2>
        </div>
        <div class="col-6">
            <a asp-page="Create" class="btn btn-primary text-end">Create new category</a>
        </div>
    </div>
    <table class="table table-borderd table-striped" style="width: 100%">
        <thead>
            <tr>
                <th>Category name</th>
                <th>Category name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var category in Model.Categories)
{
            <tr>
                <td>@category.Name</td>
                <td>@category.DisplayOrder</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@category.Id" class="btn btn-warning">
                        Edit
                    </a>
                    <a asp-page="Delete" asp-route-id="@category.Id" class="btn btn-danger">
                        Delete
                    </a>
                </td>
            </tr>
}
        </tbody>
    </table>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
